<%= render 'talents/navbar' %> 
<div class="container">
  <div class="talent"> 
    <div class="talents" data-controller="swiper">
      <div id="swiper" class="swiper swiper-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <% @talent.images.each do |image| %>
            <div class="swiper-slide">
              <%= image_tag image, class: "card-img-top profile" if image.present? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h1 class="card-title"><%= @talent.name %></h4>
      <h4 class="card-subtitle mb-2 text-muted"><%= @talent.subtitle %></h2>
      <p class="card-text">
        <%= @talent.description %>
      </p>
      <div class="social">
        <% if @talent.instagram_url and @talent.instagram_handle %>
          <i class="bi-instagram"></i>
          <%= link_to @talent.instagram_handle, @talent.instagram_url %>
        <% end %>
        <% if @talent.twitter_url and @talent.twitter_handle %>
          <i class="bi-twitter"></i>
          <%= link_to @talent.twitter_handle, @talent.twitter_url  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-lg btn-dark col-12 mt-10" data-controller="purchasable" data-purchasable-id-value="<%= @talent.id %>" data-purchasable-type-value="Talent" data-action="click->purchasable#click" data-purchasable-response-kind-value="html" >Shortlist</button>
